// SITE

$site-width: 960px;
$site-gutter: 7.5%;

// BREAKPOINTS
$breakpoint1: 38em;
$breakpoint2: 52em;

// FONTS

// $sans: ;
// $serif: ;

// COLORS
$br-black: 	#000000;
$br-white: 	#ffffff;
$br-grey: 	#595959;

$br-green: 	#00C29E;
$br-orange: #F57558;
$br-purple: #82626D;
$br-blue: 	#27AAE1;

$borderRadius1: .2em;