.colorLayer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 1;
	background-size: cover;
	transition: opacity .2s ease-in-out;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
	text-align: center;

	video {
		width: auto;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}

	.backgroundThumbnail {
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: 50% 50%;
		position: absolute;
		opacity: 0;
		transition: opacity .2s ease-in-out;

	}

	#pt {
		width: 100vw;
		height: 100vh;

		canvas {
			width: 100%;
			height: 100vh;
		}
	}
}

.colorLayerProjectsHiding {
	opacity: 1;
}

.colorLayerPost {
	//background-color: grey;
}

.backLayer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	top: 0;
	left: 0;
	background-image: none;
	background-color: $br-black;
	z-index: -9999;
}
