.footerWrap {
	z-index: 20;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	color: $br-black;
	background-color: $br-white;

	ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: baseline;
		list-style-type:  none;
		padding-left: 0;

		li {
			text-decoration: none;

			a {
				color: $br-black;
				margin-right: .5em;
				padding-right: .5em;
				padding-top: .05em;
				padding-bottom: .1em;
				transition: all .2s linear;
			}
		}

		.spacer {
			margin-right: .5em;
			padding-right: .5em;
			padding-top: .05em;
			padding-bottom: .1em;
			transition: all .2s linear;
		}


		.spacer::after {
			content: "|";
		}

		li:last-child {
			border-right: none;
			margin-right: 0;
			padding-right: 0;
		}
	}

	ul:hover {
		a, .spacer {
			opacity: 0.2;
		}

		a:hover {
			opacity: 1;
		}
	}
}
