.footer-icons-wrap {
	font-size: 0.9em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	// position: relative;
	// display: inline-block;
	// text-align: center;

}

.footer-icon-pair {
	cursor: pointer;
	transition: opacity .15s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	flex-grow: 1;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	margin-left: 0;
	margin-right: 0;
}

.footer-icon-pair:first-child {
	padding-left: 0;
}

.footer-icon-pair-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

.footer-icon {
	width: 2.4em;	
	height: 2.4em;
	border-radius: 50%;
	// overflow: hidden;
}

.footer-icon svg {
	padding: 1px;
}

.footer-label {
	color: $br-black;
	position: relative;
	font-size: 1.16em;
	width: 0em;
	transform: translateX(-.5em);
	overflow: hidden;
	transition: width .4s cubic-bezier(0, 0.96, 0.02, 0.99), transform 0.9s cubic-bezier(0, 0.53, 0.1, 1);
    padding-top: .309em;
    padding-bottom: .309em;
}

.footer-icon-pair-email {
	width: 100%;
}

.footer-icon-email {
	display: none;

}

.footer-label-email {
	width: 100%;
	text-align: center;
	transform: translateX(0);
}

.footer-icons-wrap:hover {
	.footer-icon-pair {
		opacity: 0.2;
	}

	.footer-icon-pair:hover {
		opacity: 1;
	}
}

.copied-alert {
	font-size: 1.05em;
	position: absolute;
	color: $br-white;
	background-color: $br-black;
	border-radius: 0.2em;
	padding: 0.3em 0em;
	text-align: center;
	width: 8em;
	// left: 50%;
	left: 8.4em;
	top: 3.6em;
	display: none;

	@media screen and (min-width: $breakpoint1) {
		top: initial;
		bottom: 3.3em;
		font-size: 0.8em;
	}
}
.copied-alert-triangle {
	font-size: 1.05em;
	position: absolute;
	background-color: $br-black;
	width: .7em;
	height: .7em;
	left: 12.4em;
	// margin-left: -0.5em;
	transform: rotate(45deg);
	top: 3.3em;
	display: none;

	@media screen and (min-width: $breakpoint1) {
		top: initial;
		bottom: 3.1em;
		font-size: 0.8em;
	}
}

.copied-alert-showing {
	@media screen and (min-width: $breakpoint1) {
		display: block;
	}
}


@media screen and (min-width: $breakpoint1) {
	.footer-icons-wrap {
    	position: relative;
		display: inline-block;
	}
	.footer-icon-pair {
		padding-bottom: 0;
		padding-top: 0;
	}
	.footer-icon-email {
		display: initial;
	}
	.footer-icon-pair-email {
		width: initial;
	}
	.footer-label-email {
		width: 0em;
		transform: translateX(-.5em);
	}
	.footer-icons-wrap {
		font-size: .88em;
	}
	.footer-label {
		font-size: 1.32em;
		padding-bottom: .1em;
		margin-left: 0.5em;
	}
	.footer-icon-pair-inner {
		position: relative;
		justify-content: flex-start;
		padding-left: 0.6em;
		padding-right: 0em;
	}

	.footer-icon-pair-inner:first-child {
		padding-left: 0em;
	}
	.footer-icon-pair:hover .footer-label-about {
		width: 2.6em;
		transform: translateX(0);
	}
	.footer-icon-pair:hover .footer-label-github {
		width: 3.05em;
		transform: translateX(0);
	}
	.footer-icon-pair:hover .footer-label-dribbble {
		width: 3.72em;
		transform: translateX(0);
	}
	.footer-icon-pair:hover .footer-label-codepen {
		width: 3.68em;
		transform: translateX(0);
	}
	.footer-icon-pair:hover .footer-label-email {
		width: 11em;
		transform: translateX(0);
	}

}

@media screen and (min-width: $breakpoint2) {
	.footer-icon-pair-inner {
		padding-left: 0.8em;
		padding-right: 0.8em;
	}
	.footer-icons-wrap {
		font-size: .92em;
	}
	.footer-label {
		font-size: 1.12em;
	}

}
