.footer-icons-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

}

.footer-icon-pair {
	cursor: pointer;
	transition: opacity .15s ease-in-out;

}

.footer-icon-pair-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0.4em;
	padding-right: 0.4em;
}

.footer-icon-pair-inner:first-child {
	padding-left: 0em;
}

.footer-icon {
	width: 2em;	
	height: 2em;
	border-radius: 50%;
	overflow: hidden;
}

.footer-label {
	color: $br-black;
	font-size: 1.08em;
	margin-left: 0.5em;
	width: 0em;
	transform: translateX(-.5em);
	overflow: hidden;
	transition: width .4s cubic-bezier(0, 0.96, 0.02, 0.99), transform 0.9s cubic-bezier(0, 0.53, 0.1, 1);

}

.footer-icon-email {
	display: none;
}

.footer-label-email {
	width: 11em;
	transform: translateX(0);
}

.footer-icons-wrap:hover {
	.footer-icon-pair {
		opacity: 0.2;
	}

	.footer-icon-pair:hover {
		opacity: 1;
	}
}


@media screen and (min-width: $breakpoint1) {
	.footer-icon-email {
		display: initial;
	}

	.footer-label-email {
		width: 0em;
		transform: translateX(-.5em);
	}
	.footer-icons-wrap {
		
	}
	.footer-icon-pair:hover .footer-label-github {
		width: 3.05em;
		transform: translateX(0);
	}
	.footer-icon-pair:hover .footer-label-dribbble {
		width: 3.72em;
		transform: translateX(0);
	}
	.footer-icon-pair:hover .footer-label-codepen {
		width: 3.68em;
		transform: translateX(0);
	}
	.footer-icon-pair:hover .footer-label-email {
		width: 11em;
		transform: translateX(0);
	}

}

@media screen and (min-width: $breakpoint2) {


}
