body {
	font-family: "texta";
	font-weight: 300;
	letter-spacing: .05em;
	text-size-adjust: none;
	text-size-adjust: 100%;
	font-size: 1.5rem;
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.bgImgFix {
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.screenLayer {
	background-color: $br-white;
	mix-blend-mode: screen;
	min-height: 100vh;
	position: relative;
	transition: background-color .1s ease-in-out;
}

.screenLayer-reverse {
	background-color: $br-black;
}


@media screen and (min-width: $breakpoint1) {

}

@media screen and (min-width: $breakpoint2) {

}