.home-container {
	width: 100%;
	height: 100vh;
	border: 20px solid $br-black;
	overflow: hidden;
	transition: border .1s ease-in-out;
}

.home-container-reverse {
	border: 20px solid $br-white;
}

.home-container-inner {
	padding: 30px;
	width: calc(100% - 40px);
	height: calc( 100vh - 40px);
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: left;
}

.home-name-wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-direction: column-reverse;
	justify-content: space-between;
	width: 100%;
	text-align: left;
	font-size: 5.4vw;
	color: $br-black;
	transition: color .1s ease-in-out;
}

.home-name-wrap-reverse {
	color: $br-white;	
}

.home-skills {

}

.home-skill {
	font-weight: 700;
	text-transform: uppercase;
}

.home-add {
	font-weight: 300;
}

.home-portfolio {
	display: block;
}

.home-work-wrap {
	font-size: 11vw;
	font-weight: 700;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.home-work-wrap a {
	display: block;
    max-width: 8em;
    margin: auto;
    overflow: hidden;
}

.home-work-wrap-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	transform: translateX(-.24em);
	transition: transform .8s cubic-bezier(0, 0.96, 0.13, 1.01), color .1s ease-in-out, letter-spacing 1.2s cubic-bezier(0, 0.96, 0.13, 1.01);
	letter-spacing: 0.06em;
}

.home-work-arrow {
	width: .48em;
	transition: opacity .1s linear, transform .8s cubic-bezier(0, 0.96, 0.13, 1.01);
}

.home-work-arrow-path {
	transition: fill .2 ease-in-out;
}

.home-work-arrow-reverse {
	fill: $br-white;
}

.home-work-arrow-1 {
	transform: translateX(-.36em);
	opacity: 0;
}

.home-work-arrow-2 {
	opacity: 1;
	transform: translateX(0em);
}

.home-work {
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.home-work-wrap a:hover .home-work-arrow-1 {
	opacity: 1;
	transform: translateX(0em);
}

.home-work-wrap a:hover .home-work-arrow-2 {
	opacity: 0;
	transform: translateX(.36em);
}

.home-work-wrap a:hover .home-work-wrap-inner {
	transform: translateX(.24em);
	color: $br-white;
	//letter-spacing: 0.12em;
}



.home-footer-wrap {

}


.footer-icon-path {
	fill: $br-black;
	transition: fill .1s ease-in-out;
}

.footer-icon-path-reverse {
	fill: $br-white;
}

@media screen and (min-width: $breakpoint1) {
	.home-portfolio {
		display: inline-block;
	}
	.home-container-inner {
		padding: 55px;
	}
	.home-name-wrap {
		font-size: 1.62em;
	}
	.home-work-wrap {
		font-size: 4.8em;
	}
}

@media screen and (min-width: $breakpoint2) {
	.home-container-inner {
		padding: 80px;
	}
	.home-name-wrap {
		font-size: 1.7em;
	}
	.home-name-wrap {
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.home-work-wrap {
		font-size: 6.6em;
	}
}
