.menuWrap {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: flex-start;
	color: $br-black;
	font-size: 5.4vw;

	h1, h4 {
		margin-top: 0;
		margin-bottom: 0em;
		// font-size: 1em;
	}

	h4 {
		font-weight: 700;
		text-transform: uppercase;
	}

	.blackLinklyBack {
		color: $br-black;
	}

	a {
		color: $br-black;
	}
		
}


@media screen and (min-width: $breakpoint1) {
	.menuWrap {
		font-size: 1.62em;
	}
}


@media screen and (min-width: $breakpoint2) {
	.menuWrap {		
		font-size: 1.7em;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}



}