.menuWrap {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: flex-start;
	color: $br-black;
	padding-top: 2em;

	h1, h4 {
		font-size: 1.06em;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 0em;

	}

	.blackLinklyBack {
		color: $br-black;
	}

	a {
		color: $br-black;
	}
		
}

.menuWrapMid {
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: $breakpoint1) {
	.menuWrap {
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;

		h1, h4 {
			font-size: 1.18em;
		}
	}
}


@media screen and (min-width: $breakpoint2) {
	.menuWrap {
		h4  {
			font-size: 1.4em;
		}

		h1 {
			font-size: 1.65em;
		}
	}

	.menuWrapMid {
		h1 {
			font-size: 2.2em;
		}
	}

	.menuWrapBot {
		h1 {
			font-size: 1.4em;
		}
	}

}