.menuWrap {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: flex-start;
	font-size: 5.4vw;

	h1, h4 {
		margin-top: 0;
		margin-bottom: 0em;
	}

	h4 {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.2em;
	    
	}

	.menu-wrap-name-inner {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		transform: translateX(-0.1em);
	}

	.name-line-hover {
		width: 0em;
		margin-right: 0em;
		border-top: 2px solid $br-black;
		transition: all 0.14s cubic-bezier(0.05, 0.81, 0.36, 0.9);
	}
	.name-line-hover-post {
		border-color: $br-grey;
	}
		
	.menu-wrap-name-inner:hover .name-line-hover, .menu-wrap-name-inner:focus .name-line-hover {
		width: 0.5em;
		margin-right: 0.2em;
	}
}


@media screen and (min-width: $breakpoint1) {
	.menuWrap {
		font-size: 1.62em;
	}
}


@media screen and (min-width: $breakpoint2) {
	.menuWrap {		
		font-size: 1.7em;
		margin-bottom: 1.2em;
		// flex-direction: row;
		// justify-content: space-between;
		// align-items: baseline;

		h4 {

		}
	}
}