$gutter: 8px;

.post-container-outer {
	@extend .projects-container;
	border-color: $br-grey;
	color: $br-grey;
}

.post-back-wrap-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	transform: translateX(-0.07em);
	transition: transform .6s cubic-bezier(0, 0, 0.25, 1.03), color .1s ease-in-out, letter-spacing .6s cubic-bezier(0, 0, 0.25, 1.03);

	h4 {
		margin-right: 0.2em;
		margin-left: 0.2em;
		color: $br-grey;
	}
	.post-back-arrow {
		fill: $br-grey;
	}
}

.post-back-wrap-inner-line {
	width: 0.4em;
	border-top: 2px solid $br-grey;
	transition: width 0.14s cubic-bezier(0.05, 0.81, 0.36, 0.9);
}

.post-back-arrow {
	width: .42em;
	transition: opacity .1s linear, transform 1.4s cubic-bezier(0, 0.96, 0.13, 1.01);
}

.post-footer-container {
	margin-top: 40px;
	margin-bottom: 40px;
    max-width: $copy-max;
    margin-left: auto;
    margin-right: auto;
}

.post-footer-container svg {
	fill: $br-grey;
}

.post-back-arrow-1 {
	transform: rotate(180deg) translateX(0);
	opacity: 1;
}

.post-back-arrow-2 {
	transform: rotate(180deg) translateX(-0.3em);
	opacity: 0;
}

.post-back-wrap-inner:hover .post-back-wrap-inner-line {
	// transform: translateX(-0.64em);
	width: 0.8em;

	// .post-back-arrow-1 {
	// 	transform: rotate(180deg) translateX(0.3em);
	// 	opacity: 0;
	// }

	// .post-back-arrow-2 {
	// 	transform: rotate(180deg) translateX(0);
	// 	opacity: 1;
	// }
}


article {
	padding-top: 1em;

	header {
		text-align: center;
	}

	h1  {
		font-size: 10vw;
		margin-bottom: 0.4em;
		margin-top: 0;
		font-weight: 700;
		line-height: 0.9em;
	}

	p > a {
		display: inline-block;
		position: relative;
		color: $br-orange;
		// border-bottom: 2px solid rgba(255,255,255,0);
		// border-color: rgba(255,255,255,0);
		transition: all 0.05s ease-in-out;
		padding-bottom: 0em;
		cursor: pointer;
		// -webkit-text-stroke: 0.02em $br-white;
		text-shadow: 1px 1px 0 $br-white, -1px 1px 0 $br-white, 0px 1px 0 $br-white;

		&:hover {

		}
	}

	p > a::after {
		position: absolute;
		content: "";
		bottom: 4px;
		left: 0;
		width: 0px;
		height: 1px;
		background: $br-orange;
		z-index: -1;
		// transform: translateY(100%) translateY(-5px);
		transition: width 0.14s cubic-bezier(0.05, 0.81, 0.36, 0.9);

	}

	a:hover {
		// padding-bottom: 0.05em;

		&::after {	
			width: 100%;
		}
	}
}

.entry-content {
	.video-container {
		position: relative;
		width: 100%;
		display: block;
		padding-bottom: 56.25%;
		margin-bottom: $gutter;

		iframe {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
	}

	// - - - Grid - - - //
	p {
		line-height: 0;
	}

	.grid-inline {
		display: inline-block;
		height: 0px;
		width: auto;
		margin-bottom: $gutter;
		margin-right: $gutter;
	}
	.grid-inline:last-child {
		margin-right: 0px;
	}

	.grid-full {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: $gutter;
	}
}

.post-copy-center {
	text-align: center;
}

.post-copy-block {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 0.8em;
	position: relative;

	h3 {
		display: block;
		max-width: $copy-max;
		margin-left: auto;
		margin-right: auto;
		font-weight: 700;
		font-size: 1.728em;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		margin-bottom: 0.2em;
		line-height: 1.4em;
	}

	p {
		opacity: 0.8;
		display: block;
		max-width: $copy-max;
		margin-left: auto;
		margin-right: auto;
		font-weight: 700;
		font-size: 1.2em;
		font-weight: 300;
		margin-top: 0.2em;
		margin-bottom: 0.6em;
		line-height: 1.4em;
	}

	.post-copy-big {
		opacity: 1;
		display: block;
		max-width: $copy-max;
		margin-left: auto;
		margin-right: auto;
		font-weight: 700;
		font-size: 1.44em;
		font-weight: 300;
		margin-top: 0.2em;
		line-height: 1.4em;
		font-style: italic;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.post-button {
		display: inline-block;
	    max-width: 600px;
	    margin-left: auto;
	    margin-right: auto;

		border: 1px solid $br-grey;
		color: $br-grey;
		font-weight: 700;
		text-align: center;
		position: relative;
		border-radius: $borderRadius1;
		padding: 1em 3.2em;
		text-transform: uppercase;
		text-shadow: none;
		transition: all 0.05s ease-in-out;

		&::after {
			position: absolute;
			content: "";
			bottom: 0.8em;
			left: 3.2em;
			width: 0px;
			height: 2px;
			background-color: $br-white;
			z-index: 1;
			// transform: translateY(100%) translateY(-5px);
			transition: width 0.14s cubic-bezier(0.05, 0.81, 0.36, 0.9) 0.1s;

		}
	}

	.post-button:hover {
		background-color: $br-grey;
		color: $br-white;

		&::after {
			width: calc(100% - 6.2em);
		}
	}

}


.bottom-nav-container {
	width: 100%;
	max-width: $copy-max;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	// border-top: 2px solid $br-grey;
	// border-bottom: 2px solid $br-grey;
	margin-top: 40px;
	font-size : 1.15em;
	font-weight: 700;
	color: $br-grey;

    // max-width: $copy-max;
    margin-left: auto;
    margin-right: auto;

}

.bottom-nav-back {
	width: 30%;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	// border: 2px solid $br-grey;
	border-radius: $borderRadius1;
}




.bottom-back-wrap-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	// transform: translateX(-0.07em);
	transition: transform .6s cubic-bezier(0, 0, 0.25, 1.03), color .1s ease-in-out, letter-spacing .6s cubic-bezier(0, 0, 0.25, 1.03);

	h4 {
		margin-left: 0.3em;
		margin-right: 0.3em;
		font-size: 0.82em;
	}
}

.bottom-nav-spacer {
	width: 0%;
	height: 4em;
	border-right: 2px solid $br-grey;
	box-sizing: border-box;
	display: none;
}

.bottom-nav-next {
	width: 70%;
	padding-top: 0.9em;
	padding-bottom: 0.9em;
	border: 1px solid $br-grey;
	border-radius: $borderRadius1;
	// transition: all .005s ease-in-out;
}

.bottom-next-wrap-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.06em;
	// transform: translateX(-0.07em);
	// transition: transform .6s cubic-bezier(0, 0, 0.25, 1.03), color .1s ease-in-out, letter-spacing .6s cubic-bezier(0, 0, 0.25, 1.03);

	h4 {
		margin-left: 0.3em;
		margin-right: 0.3em;
    	font-size: 0.82em;
    	position: relative;
	}

	h4::after {
		position: absolute;
		content: "";
		bottom: -2px;
		left: 0;
		width: 0px;
		height: 2px;
		background: $br-white;
		// transform: translateY(100%) translateY(-5px);
		transition: width 0.2s cubic-bezier(0.3, 0.01, 0.05, 0.9);
	}
}

.bottom-back-arrow, .bottom-next-arrow {
	fill: $br-grey;
}

.bottom-back-arrow {
	width: .42em;
	transition: opacity .1s linear, transform 1.4s cubic-bezier(0, 0.96, 0.13, 1.01);
}

.bottom-back-arrow-1 {
	transform: rotate(180deg) translateX(0);
	opacity: 1;
}

.bottom-back-arrow-2 {
	transform: rotate(180deg) translateX(-0.3em);
	opacity: 0;
}


.bottom-next-arrow {
	width: .42em;
	transition: opacity .1s linear, transform 1.4s cubic-bezier(0, 0.96, 0.13, 1.01);
}

.bottom-next-arrow-1 {
	transform: translateX(-0.3em);
	opacity: 0;
}

.bottom-next-arrow-2 {
	transform: translateX(0);
	opacity: 1;
}

.bottom-nav-back-line {
	width: 12%;
	border-top: 2px solid $br-grey;
	transition: width 0.14s cubic-bezier(0.05, 0.81, 0.36, 0.9);
}


.bottom-nav-back:hover {

	.bottom-nav-back-line {
		width: 18%;
	}
	// .bottom-back-wrap-inner {
	// 	transform: translateX(-0.5em);
	// }

	// .bottom-back-arrow-1 {
	// 	opacity: 0;
	// 	transform: rotate(180deg) translateX(0.3em);
	// }
	// .bottom-back-arrow-2 {
	// 	opacity: 1;
	// 	transform: rotate(180deg) translateX(0em);
	// }

}

.bottom-nav-next:hover {
	color: $br-white;
	background-color: $br-grey;

	.bottom-next-wrap-inner {
		// letter-spacing: 0.05em;	
		h4::after {
			width: 100%;
		}
	}
	
	// .bottom-next-wrap-inner {
	// 	transform: translateX(0.5em);
	// }

	// .bottom-next-arrow-1 {
	// 	opacity: 1;
	// 	transform: translateX(0em);
	// }

	// .bottom-next-arrow-2 {
	// 	opacity: 0;
	// 	transform: translateX(0.3em);
	// }

}


@media screen and (min-width: $breakpoint1) {
	article h1 {
		font-size: 3.2em;
	}
	.grid-inline {
		height: 400px;
		width: 50%;
	}
	.bottom-nav-container {
		font-size : 1.3em;
	}
	.post-footer-container {
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.bottom-nav-back-line {
		width: 18%;
	}

	.bottom-nav-container {
		margin-top: 50px;
	}

	.bottom-nav-back:hover {
		.bottom-nav-back-line {
			width: 25%;
		}
	}
	.bottom-nav-back {
		width: 25%;
	}
	.bottom-nav-next {
		width: 75%;
	}
	.post-copy-block {
		font-size: 0.9em;
		padding-top: 40px;
		padding-bottom: 40px;

		h3 {
			
		}
		p {
		
		}
		.post-copy-big {
		
		}
	}

}

@media screen and (min-width: $breakpoint2) {
	article h1 {
		font-size: 3.4em;
	}
	.grid-inline {
		height: 500px;
	}
	.bottom-nav-container {
		font-size : 1.5em;
	}	
	.post-footer-container {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	.bottom-nav-container {
		margin-top: 60px;
	}
	.post-copy-block {
		font-size: 1.0em;
		padding-top: 70px;
		padding-bottom: 70px;

		h3 {
			
		}
		p {
		
		}
		.post-copy-big {
		
		}
	}

}