.projects-container {
	padding: 24px 12px;
	padding-bottom: 0;
	// border-top: 12px solid $br-black;
	// border-bottom: 12px solid $br-black;
	min-height: 100vh;
}

.projectsHeaderToggle{
	cursor: pointer;
}

.projects-container-inner {
	max-width: $site-width;
	margin: auto;
}

.projects-footer-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.projectsWrap{
	width: 100%;
}

.projects-name {
	font-size: 0.66em;
}

.projectsIconWrap{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: baseline;
	margin-top: 0.8em;
	margin-bottom: 2.8em;

	.iconPair{
		margin-right: 1.4em;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		font-size: 1.02em;
		cursor: pointer;

		.projectsIcon{
			background-size: contain;
			background-repeat: no-repeat;
			width: 1em;
			height: 1em;
			font-size: 1.3em;
		}

		.projectsIcon svg {
			padding-left: 1px;
    		padding-right: 1px;
		}
			
		h5 {
			user-select: none;
		    transform: translate(0,-.05em);
		    margin-top: 0;
		    margin-bottom: 0;
		    margin-left: .38em;
		    font-size: 1.14em;
		    font-weight: 700;
		}
	}

	.iconPair:nth-child(3){
		margin-right: 0;
	}
}

.projectLinkWrap{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	margin-top: 0;

	a{
		width: 100%;
		cursor: pointer;
	}

	.projectModule{
		cursor: pointer;
		transition: opacity 0.2s linear, background-color 0.05s linear, color 0.05s linear;
		color: $br-white;
		width: 100%;
		margin-bottom: 0.4em;
		padding-left: 1.2em;
		padding-bottom: 1.5em;
		padding-top: 1.5em;
		background-color: $br-black;
		border-radius: $borderRadius1;
		text-align: left;
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		justify-content: flex-start;
		background-size: cover;
    	background-position: 50% 50%;

    	.linklyWrap {
    		transition: transform 0.25s cubic-bezier(0.2, 1, 0.3, 1);
    	}

		h3 {
			font-size: 1.24em;
			letter-spacing: 0.06em;
			font-weight: 700;
			transition: transform 0.25s cubic-bezier(0.2, 1, 0.3, 1);
			position: relative;
			display: inline;
		}

		h3::after {
			position: absolute;
			content: "";
			bottom: -0.05em;
			left: 0;
			width: 0px;
			height: 2px;
			background: $br-black;
			// transform: translateY(100%) translateY(-5px);
			transition: width 0.2s cubic-bezier(0.3, 0.01, 0.05, 0.9);
		}

		.moduleDeetsGroup{
			display: flex;
			justify-content: center;
			margin-left: .4em;
			transition: transform 0.25s cubic-bezier(0.2, 1, 0.3, 1);

			h5 {
				display: inline-block;
    			line-height: 2.05em;
				font-size: .78em;
				font-weight: 300;
				margin: 0;
				opacity: 0.7;
			}
		}

		.projectModuleIcons{
			display: none;

			.projectModuleIcon{
				@extend .bgImgFix;
				width: 1em;
				height: 1em;
				font-size: 1em;
				margin-right: .4em;
				fill: $br-white;
				transition: fill 0.05s linear;
			}

			.projectModuleIconDesign{
				// background-image: url("../dist/images//icon-blank-black-design.svg");
			}
			
			.projectModuleIconMotion{
				// background-image: url("../dist/images//icon-blank-black-motion.svg");
			}

			.projectModuleIconFrontend{
				// background-image: url("../dist/images//icon-blank-black-frontend.svg");
				margin-right: 0
			}

			.projectModuleIconTrue{
				opacity: 1;
			}
			
			.projectModuleIconFalse{
				opacity: 0;
			}
		}
	}

	.projectModule:hover, .projectModule:focus {
		background-color: $br-white;
		color: $br-black;
		// padding-left: 1em;
		background-image: none !important;

		h3::after {
			width: 100%;
		}

		.linklyWrap {
			transform: translateX(35px); 
		}

		.whiteLinkly{
			@extend .blackLinkly;
		}

		.moduleDeetsGroup{
			transform: translateX(35px);

			h5 {
				color: $br-black;
			}
				
			.projectModuleIcon{
				fill: $br-black;
			}
		}
	}
}

@media screen and (min-width: $breakpoint1) {
	
	.projects-container {
		padding: 24px 24px;
		padding-bottom: 0;
		// border-top: 18px solid $br-black;
		// border-bottom: 18px solid $br-black;
	}


	.projects-footer-container {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.projectLinkWrap {
		flex-direction: row;
		flex-wrap: wrap;

		a  {
			width: calc(50% - .6em);
			margin-right: .3em;
			margin-bottom: .3em;
		}

		.projectModule {
			flex-direction: column;
			justify-content: flex-start;
			align-items: left;
			width: 100%;
			transform: translate(0, 0);
			margin-left: 0;
			margin-bottom: 0;
			margin-right: 0;
			padding-left: 1.4em;
			padding-top: 4em;
			padding-bottom: 4em;

			h3 {
				margin: 0;
				font-size: 1.3em;
				justify-content: flex-start;
				transform: translate(0, 0);
			}

			.moduleDeetsGroup {
				transform: translate(0, 0);
				width: 4em;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			    margin-left: 0;
			    margin-top: 0.25em;
				
				h5 {
					color: $br-white;
					line-height: initial;
				}

				.projectModuleIcons {
					display: flex;
					flex-direction: row;
					flex-wrap: no-wrap;
					justify-content: flex-start;
					align-items: center;
					margin-top: 0.7em;
					font-size: 1em;
					opacity: 0.2;

					.projectModuleIconDesign {
						// background-image: url("../dist/images//icon-blank-white-design.svg");
					}

					.projectModuleIconMotion {
						// background-image: url("../dist/images//icon-blank-white-motion.svg");
					}

					.projectModuleIconFrontend {
						// background-image: url("../dist/images//icon-blank-white-frontend.svg");
					}
				}
			}
		}

		.projectModule:hover {
			// padding-left: 3em;
		}
	}
}

@media screen and (min-width: $breakpoint2) {

	.projects-container {
		padding: 36px 36px;
		padding-bottom: 0;
		// border-top: 24px solid $br-black;
		// border-bottom: 24px solid $br-black;
	}


	.projects-footer-container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.projectLinkWrap {
		a {
			width: calc(33.33% - .3em);
			margin-bottom: .3em;
		}

		.projectModule {
			font-size: 1.2em;
			padding-top: 3.4em;
			padding-bottom: 3.4em;
			width: calc(100%);

			h3 {
				font-size: 1.1em;
				letter-spacing: .08em;
			}
		}
	}
}
@media screen and (min-width: $breakpoint2) and (min-height: $breakpointH1) {
	.projectLinkWrap {
		.projectModule {
			padding-top: 8vh;
    		padding-bottom: 8vh;
    	}
    }
}
@media screen and (min-width: $breakpoint2) and (min-height: $breakpointH2) {
	.projectLinkWrap {
		.projectModule {
			padding-top: 11vh;
    		padding-bottom: 11vh;
    	}
    }
}
@media screen and (min-width: $breakpoint2) and (min-height: $breakpointH3) {
	.projectLinkWrap {
		.projectModule {
			padding-top: 14vh;
    		padding-bottom: 14vh;
    	}
    }
}