@font-face 
    font-family: 'texta'
    src: url('../fonts/latinotype_-_textanarrow-book-webfont.eot')
    src: url('../fonts/latinotype_-_textanarrow-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/latinotype_-_textanarrow-book-webfont.woff2') format('woff2'), url('../fonts/latinotype_-_textanarrow-book-webfont.woff') format('woff'), url('../fonts/latinotype_-_textanarrow-book-webfont.ttf') format('truetype')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'texta'
    src: url('../fonts/latinotype_-_textanarrow-heavy-webfont.eot')
    src: url('../fonts/latinotype_-_textanarrow-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/latinotype_-_textanarrow-heavy-webfont.woff2') format('woff2'), url('../fonts/latinotype_-_textanarrow-heavy-webfont.woff') format('woff'), url('../fonts/latinotype_-_textanarrow-heavy-webfont.ttf') format('truetype')
    font-weight: 700
    font-style: normal

